

ul.horizontal {
    list-style: none;
}
ul.horizontal li {
    float: left;
    padding: 0 0.6em;
    border-right: 1px solid black;
    height: 1.2em;
}
ul.horizontal li.last {
    border-right: none;
}

/* Clearfix
   http://www.positioniseverything.net/easyclearing.html
   with added position relative */
.clear:after    {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clear          {display:block; position: relative;}